        <li class="media">
            <div class="media-body">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object img-circle " src="public/img/user.png" />
                    </a>
                    <div class="media-body">
                        {{{msg}}}
                        <br />
                        <small class="text-muted">{{username}} | {{time}}</small>
                        <hr />
                    </div>
                </div>
            </div>
        </li>
