<!doctype html>
<html>
	<head>
		<!-- Add purecss -->
		<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
		<!-- Add custom stylesheet -->
		<link rel="stylesheet" href="css/homepage.css">
		<title>Politeracy</title>
	</head>

	<body>
		<div class="header">
			<div class="home-menu pure-menu pure-menu-horizontal">
				<a class="pure-menu-heading" href="/">Politeracy</a>

				<ul class="pure-menu-list">
					<li class="pure-menu-item"><a href="/dashboard" class="pure-menu-link">Home</a></li>
					<li class="pure-menu-item"><a href="/legislatures" class="pure-menu-link">View Congressmen</a></li>
					<li class="pure-menu-item"><a href="/favorites" class="pure-menu-link">View Favorites</a></li>
				</ul>
			</div>
		</div>
		{{{body}}}
	</body>
</html>
