.avatar {
	height: 100px;
	width: 100px;
}
#user-page-chat-selection-button {
	padding-top: 10px;
	padding-left: 100px;
	width: 100px;
}
#user-page-header-align-left {
	padding-left: 100px;
}
.demo-avatar-dropdown #user-page-chat-selection-header{
	float: left;
}
.demo-avatar-dropdown #user-page-chat-selection-button1{
	margin:0 auto;
	padding-top: 50%;
}