.avatar {
	height: 100px;
	width: 100px;
}
#user-page-chat-selection-button {
	padding-top: 10px;
	padding-left: 100px;
	width: 100px;
}
#user-page-header-align-left {
	padding-left: 100px;
}
#user-page-chat-selection-header{
	float: right;
}
#user-page-chat-selection-button1{
	float: left;